<section class="w-75 shadow mx-auto rounded p3 mt-5 bg-main-light">
  <h1>Shop cart</h1>
  <p class="text-main">Total Price: {{ cartData.totalCartPrice }}</p>
  <div class="row border-bottom py-2" *ngFor="let item of cartData.products">
    <div class="col-md-1">
      <img
        class="w-100"
        [src]="item.product.imageCover"
        [alt]="item.product.title"
      />
    </div>
    <div class="col-md-11 d-flex justify-content-between align-items-center">
      <div>
        <h3 class="h6">{{ item.product.title }}</h3>
        <p class="text-main">Price:{{ item.price }}</p>
        <button (click)="removeCartProudect(item.product._id)" class="btn p-0 m-0 text-main">
          <i class="fas fa-trash-can"></i> Remove
        </button>
      </div>
      <div>
        <button (click)="changeCount(item.count+1, item.product._id)" class="btn border-success btn-sm">+</button>
        <span>{{ item.count }}</span>
        <button (click)="changeCount(item.count-1, item.product._id)" class="btn border-success btn-sm">-</button>
      </div>
    </div>
  </div>

  <button class="main-btn" [routerLink]="['/payment',cartData._id ]">Online payment <img src="../../assets/images/visa-1.svg" alt=""></button>
</section>
